<div class="col-md-3 full-height">
	<div id="lstIssues" *ngIf="!loading" class="list-group full-height" style="overflow: auto">
		<div *ngFor="let issue of list.issues" class="list-group-item issue" draggable [dragData]="issue" droppable (onDrop)="moverIssue($event, issue)">
			<div style="display:inline-block; width: 100%">
				<h4 class="list-group-item-heading pull-left" (click)="abrirPopup(issue)">{{issue.fullIdentifier}}</h4>
				<div class="btn-group pull-right">
					<button class="glyphicon glyphicon-chevron-down btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"></button>
					<ul class="dropdown-menu pull-right">
    					<li><a href="#">Quebrar</a></li>    					
  					</ul>
				</div>
			</div>
			<p class="list-group-item-text" (click)="abrirPopup(issue)">{{issue.description}}</p>
			<div style="text-align:right" (click)="abrirPopup(issue)">
				<span *ngIf="!issue.knowledge" class="label label-danger label-as-badge">?</span>
				<span *ngIf="issue.knowledge" class="label label-danger label-as-badge">{{ issue.knowledge }}</span>

				<span *ngIf="!issue.size" class="label label-primary label-as-badge" style="margin-left: 2px">?</span>
				<span *ngIf="issue.size" class="label label-primary label-as-badge" style="margin-left: 2px">{{ issue.size }}</span>

				<span *ngIf="!issue.hours" class="label label-info label-as-badge" style="margin-left: 2px">?</span>
				<span *ngIf="issue.hours" class="label label-info label-as-badge" style="margin-left: 2px">{{issue.hours}}hr</span>

				<span *ngIf="!issue.sprint" class="label label-success label-as-badge" style="margin-left: 2px">?</span>
				<span *ngIf="issue.sprint" class="label label-success label-as-badge" style="margin-left: 2px">SP{{ issue.sprint }}</span>
			</div>
		</div>
	</div>
	<div *ngIf="loading" class="col-md-offset-3">
		<img src="Double Ring.gif" />
	</div>
</div>
