<div class="full-height" droppable (onDrop)="onIssueDrop($event)">
	<table class="table" style="max-height: 93%">
		<thead>
			<tr>
				<th>Issue</th>
				<th>Horas</th>
				<th class="text-center">Remover</th>
			</tr>
			<tr *ngFor="let issue of list.issues" class="issue">
				<td (click)="editIssue(issue)">{{ issue.fullIdentifier }} - {{ issue.description }}</td>
				<td (click)="editIssue(issue)">{{ issue.hours }}hr</td>
				<td class="text-center"><a type="button" class="glyphicon glyphicon-remove vcenter" (click)="removeIssue(issue)"></a></td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Total</td>
				<td>{{ total }}hr</td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>
